.movies_container{
    padding-left: 10% !important;
    padding-right: 10% !important;
    background: black;
    z-index: 1;
}

.movies_tilesContainer{
    padding: 0 !important;
}

.movies_overlay{
    margin-top: -200px;
}