.userlist_container{
    padding-left: 5%;
    padding-right: 5%;
}

.actionsContainer{
    position: absolute;
    right: 0;
}

.banner{
    height: 100px;
    background: #46b8da;
    box-sizing: border-box;
}
